map gf  :action GotoImplementation <CR>
map gk  :action VimMotionNextTab <CR>
map gj  :action VimMotionPreviousTab <CR>
map gr  :action RenameElement <CR>
map gu	:action FindUsages <CR>
map J gT
map K gt

map gq :q<CR>
map go <C-o>
noremap p  "0p
